body{ 
    background-image: url("./Images/background.jpg");
    background-repeat: repeat;
}
h1{
    color: rgb(133, 16, 33);
    text-align: center;
    font-size: 50px;
}
h2{
    color: rgb(75, 49, 243);
}
footer{
    text-align: center;
    color: dimgray;
}
.main foto{
    float: right;
    border: 2px;
    border-radius: 15px;
    border-color: black;
    width: 300px;
    box-shadow: black; 5px 10px;
}
.main{
display: inline-block; width: 49%;
}
.aside{
    color: rgba(86, 17, 100, 0.973);
    display: inline-block; 
    width: 49%; 

    
}